<h4><%= t('.title') %></h4>

<%= render "form", stadium: @stadium %>
<%= button_to t('button.delete'), @stadium, method: :delete, data: { turbo_confirm: t('delete.confirm') }, class: "btn btn-danger" %>