<h4><%= t('.title') %></h4>

<div>
  <% if user_signed_in? %>
    <%= link_to t('button.add.stadium'), new_stadium_path, :method => :post, class: "btn btn-info" %>
  <% end %>
</div>

<div id="stadia">
    <% @stadia.each do |stadium| %>
      <%= render stadium %>
    <% end %>
</div>