<div class="container text-start mb-3 mt-1">
  <div class="row justify-content-end">
    <div class="col"><h4><%= t('.title') %></h4></div>
    <div class="col text-end">
        <% if user_signed_in? %>
          <%= link_to t('button.add.team'), new_team_path, :method => :post, class: "btn btn-info" %>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @teams.each do |team| %>
      <%= render team %>
    <% end %>
  </div>
</div>