<div class="container text-start">
    <div class="row">
        <div class="col"><h4><%= t('.title') %></h4></div>
    </div>

    <%= render "form", post_about_stadium: @post_about_stadium %>
</div>