<h4><%= t('.title') %></h4>

<div>
  <% if user_signed_in? %>
    <%= link_to t('button.add.tournament'), new_tournament_path, :method => :post, class: "btn btn-info" %>
  <% end %>
</div>

<div id="tournaments">
    <% @tournaments.each do |tournament| %>
      <%= render tournament %>
    <% end %>
</div>