<div class="container text-start">
  <div class="row justify-content-end">
    <div class="col"><h4><%= t('.title') %></h4></div>
    <div class="col text-end">
        <% if user_signed_in? %>
          <%= link_to t('button.add.tournament'), new_tournament_path, :method => :post, class: "btn btn-info" %>
        <% end %>
    </div>
  </div>
</div>

<div id="tournaments">
    <% @tournaments.each do |tournament| %>
      <%= render tournament %>
    <% end %>
</div>