<div class="container text-start">
  <div class="row justify-content-end">
    <div class="col"><h4><%= t('.title') %></h4></div>
    <div class="col text-end">
        <%= button_to @match, method: :delete, data: { turbo_confirm: t('delete.confirm') }, class: "btn btn-danger" do %>
            <i class="bi bi-trash"></i> <%= t('button.delete') %>
        <% end %>
    </div>
  </div>

  <%= render "form", match: @match %>
</div>
