<div class="container text-start mb-3 mt-1">
  <div class="row">
    <div class="col"><h4><%= t('.title') %></h4></div>
  </div>
</div>

<div class="container card text-bg-light p-3 my-3" style="text-align: justify; text-indent: 15px;">
    <div class="row">
        <div class="col"><%= t('.description_html') %></div>
    </div>
</div>