<h4><%= t('.title') %></h4>

<div>
  <% if user_signed_in? %>
    <%= link_to t('button.add.location'), new_location_path, :method => :post %>
  <% end %>
</div>

<div id="locations">
    <% @locations.each do |location| %>
      <%= render location %>
    <% end %>
</div>